{% extends "base.html" %}

{% block title %} Dashboard - Inventory {% endblock %}

{% block content %}
    <section class="space-hero">
        <div class="space-hero-content">
            <div class="dashboard-orbits"></div>
            <h1>Dashboard Overview</h1>
            <p class="muted"> overview of the Inventories </p>
            <div class=stat-grid>
                <div class="stat-card">
                    <div class="stat-label">Suppliers</div>
                </div>
                <div class="stat-card">
                    <div class="stat-label">Products</div>
                </div>
                <div class="stat-card">
                    <div class="stat-label">Inventory</div>
                </div>
                <div class="stat-card">
                    <div class="stat-label">Sales</div>
                </div>
                <div class="stat-card">
                    <div class="stat-label">Revenue</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}